<a href="https://colab.research.google.com/github/a-dhingra/pandas_exercises/blob/master/05_Merge/Auto_MPG/Exercises%20-%20SolvedBySelf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

In [2]:
url_1 = r'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv'
url_2 = r'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv'

data_1 = pd.read_csv(url_1)
data_2 = pd.read_csv(url_2)

   ### Step 3. Assign each to a variable called cars1 and cars2

In [3]:
cars1 = pd.DataFrame(data_1)
cars2 = pd.DataFrame(data_2)
cars1.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se

In [5]:
cars1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 14 columns):
mpg             198 non-null float64
cylinders       198 non-null int64
displacement    198 non-null int64
horsepower      198 non-null object
weight          198 non-null int64
acceleration    198 non-null float64
model           198 non-null int64
origin          198 non-null int64
car             198 non-null object
Unnamed: 9      0 non-null float64
Unnamed: 10     0 non-null float64
Unnamed: 11     0 non-null float64
Unnamed: 12     0 non-null float64
Unnamed: 13     0 non-null float64
dtypes: float64(7), int64(5), object(2)
memory usage: 21.7+ KB

In [ ]:
cars

In [8]:
cars2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
mpg             200 non-null float64
cylinders       200 non-null int64
displacement    200 non-null int64
horsepower      200 non-null object
weight          200 non-null int64
acceleration    200 non-null float64
model           200 non-null int64
origin          200 non-null int64
car             200 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.1+ KB

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [9]:
cars1 = cars1.loc[:,'mpg':'car']
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

In [14]:
cars2.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se

In [16]:
cars2.index

RangeIndex(start=0, stop=200, step=1)

In [17]:
cars1.index

RangeIndex(start=0, stop=198, step=1)

In [20]:
cars1.shape

(198, 9)

### Step 5. What is the number of observations in each dataset?

In [10]:
cars1.size

1782

In [11]:
cars2.size

1800

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [21]:
cars = cars1.append(cars2, ignore_index=True)
cars.shape

(398, 9)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [22]:
owner = np.random.random_integers(15000,73000,size=398)
owner

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: This function is deprecated. Please call randint(15000, 73000 + 1) instead
  """Entry point for launching an IPython kernel.

array([30994, 24522, 23830, 50698, 51716, 38694, 68765, 44209, 51342,
       17791, 71216, 58761, 22782, 56751, 68243, 68085, 62727, 52800,
       70863, 65436, 23835, 26694, 33677, 66034, 27661, 50770, 62804,
       48846, 35560, 41936, 41828, 45402, 23529, 49511, 61700, 17700,
       64723, 44802, 21588, 55480, 36693, 46451, 25679, 48429, 25305,
       59892, 67010, 67081, 48094, 60845, 50989, 27030, 16603, 44902,
       54289, 65993, 37133, 34793, 23671, 57706, 35674, 34055, 69470,
       50748, 24229, 65919, 67878, 68876, 72117, 72015, 65651, 48106,
       63217, 31772, 35911, 64020, 23144, 63245, 52161, 29302, 28306,
       29522, 22362, 31102, 65977, 69234, 44844, 69990, 65786, 53761,
       38036, 46176, 59583, 42132, 24309, 30427, 52497, 53829, 19136,
       52534, 38699, 20221, 57482, 25798, 56022, 40632, 67136, 24763,
       37901, 32523, 68943, 68686, 30973, 67113, 56169, 57156, 56637,
       20651, 45660, 32389, 55014, 30451, 64891, 59399, 32100, 36396,
       15094, 68763, 37393, 32684, 38923, 47291, 23827, 55621, 48814,
       59653, 70420, 32990, 63922, 34381, 60965, 32395, 22944, 31470,
       20898, 58441, 25893, 58071, 34398, 70492, 63890, 46377, 53424,
       27897, 69275, 53378, 46965, 15098, 15089, 35208, 38162, 41841,
       33376, 59184, 53375, 15488, 66192, 18079, 22846, 68783, 52306,
       43747, 16817, 33918, 23354, 72642, 62128, 28262, 54763, 62312,
       16461, 37391, 37323, 41299, 55605, 71466, 38896, 34632, 63612,
       26274, 35403, 62630, 52281, 52088, 28747, 26324, 49974, 17222,
       42552, 38895, 19963, 40401, 34505, 29634, 48370, 19651, 37031,
       44916, 18940, 57923, 69261, 31772, 52320, 29754, 40633, 48744,
       51636, 46353, 38518, 28914, 60736, 60871, 29764, 18796, 50456,
       52761, 33173, 26839, 46560, 65882, 61343, 56168, 72447, 19262,
       33578, 24269, 37107, 56405, 70283, 56908, 40741, 65015, 21048,
       55004, 51179, 70030, 22651, 70100, 28927, 44886, 22776, 30178,
       25755, 64573, 27975, 53530, 35598, 45461, 18259, 52036, 21859,
       64372, 25743, 35573, 21896, 56274, 67744, 62005, 49158, 19371,
       58568, 61903, 44239, 55160, 50382, 25775, 43155, 72262, 20263,
       55131, 54262, 28652, 27231, 35128, 28142, 15211, 55551, 30117,
       56067, 21286, 43679, 65191, 57663, 52337, 24125, 42084, 62504,
       45543, 29835, 59930, 60394, 70764, 17142, 57838, 58919, 32715,
       69163, 38230, 54289, 16481, 16682, 18360, 47695, 62507, 66374,
       54177, 15009, 37175, 67453, 33154, 32176, 16129, 72353, 19781,
       25143, 35254, 50968, 33464, 42944, 16896, 67621, 34675, 26741,
       20214, 45312, 18699, 65435, 51248, 37700, 21311, 69014, 17355,
       50935, 64192, 30575, 25243, 54036, 39707, 64481, 70117, 47981,
       46007, 36122, 36408, 54470, 37156, 68307, 59266, 16506, 58872,
       22868, 60975, 39224, 38927, 38544, 44952, 54841, 46560, 22954,
       50594, 62061, 56677, 19756, 40025, 40452, 38176, 30992, 38518,
       44422, 68975, 17652, 18943, 37295, 33494, 34775, 40352, 28861,
       38854, 61033, 64959, 44237, 52873, 31314, 46628, 58296, 53330,
       32313, 18764])

### Step 8. Add the column owners to cars

In [23]:
cars['owners'] = owner
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,30994
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,24522
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,23830
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,50698
4,17.0,8,302,140,3449,10.5,70,1,ford torino,51716