<a href="https://colab.research.google.com/github/a-dhingra/pandas_exercises/blob/master/02_Filtering_%26_Sorting/Chipotle/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
url = r'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
data = pd.read_csv(url, sep='\t')
data[:5]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.DataFrame(data)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [5]:

# chipo.head()
len(chipo[chipo['item_price'].apply( lambda x: float(x[1:-1])) > 10])

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [6]:
df = chipo[['item_name','item_price']]
type(df)
df.head()

                               item_name item_price
0           Chips and Fresh Tomato Salsa     $2.39
1                                   Izze     $3.39
2                       Nantucket Nectar     $3.39
3  Chips and Tomatillo-Green Chili Salsa     $2.39
4                           Chicken Bowl    $16.98

In [7]:
df1 = df.drop_duplicates(subset=['item_name'], keep='first')
df1.head(10)
# without duplicate 'item_name' values

                                item_name item_price
0            Chips and Fresh Tomato Salsa     $2.39
1                                    Izze     $3.39
2                        Nantucket Nectar     $3.39
3   Chips and Tomatillo-Green Chili Salsa     $2.39
4                            Chicken Bowl    $16.98
6                           Side of Chips     $1.69
7                           Steak Burrito    $11.75
8                        Steak Soft Tacos     $9.25
10                    Chips and Guacamole     $4.45
11                   Chicken Crispy Tacos     $8.75

In [8]:
df.head(10) # with duplicate 'item_name' values

                               item_name item_price
0           Chips and Fresh Tomato Salsa     $2.39
1                                   Izze     $3.39
2                       Nantucket Nectar     $3.39
3  Chips and Tomatillo-Green Chili Salsa     $2.39
4                           Chicken Bowl    $16.98
5                           Chicken Bowl    $10.98
6                          Side of Chips     $1.69
7                          Steak Burrito    $11.75
8                       Steak Soft Tacos     $9.25
9                          Steak Burrito     $9.25

### Step 6. Sort by the name of the item

In [9]:
sorted_df1 = df1.sort_values(by='item_name')
sorted_df1

                                  item_name item_price
298                       6 Pack Soft Drink     $6.49
39                            Barbacoa Bowl    $11.75
21                         Barbacoa Burrito     $8.99
168                   Barbacoa Crispy Tacos    $11.75
1229                    Barbacoa Salad Bowl    $11.89
56                      Barbacoa Soft Tacos     $9.25
34                            Bottled Water     $1.09
445                                    Bowl    $22.20
510                                 Burrito     $7.40
18                              Canned Soda     $2.18
263                       Canned Soft Drink     $1.25
33                            Carnitas Bowl     $8.99
27                         Carnitas Burrito     $8.99
554                   Carnitas Crispy Tacos     $9.25
3750                         Carnitas Salad     $8.99
1132                    Carnitas Salad Bowl    $11.89
237                     Carnitas Soft Tacos     $9.25
4                              Chicken Bowl    $16.98
16                          Chicken Burrito     $8.49
11                     Chicken Crispy Tacos     $8.75
250                           Chicken Salad    $10.98
44                       Chicken Salad Bowl     $8.75
12                       Chicken Soft Tacos     $8.75
40                                    Chips     $2.15
0              Chips and Fresh Tomato Salsa     $2.39
10                      Chips and Guacamole     $4.45
674       Chips and Mild Fresh Tomato Salsa     $3.00
233      Chips and Roasted Chili Corn Salsa     $2.95
191      Chips and Roasted Chili-Corn Salsa     $2.39
38    Chips and Tomatillo Green Chili Salsa     $2.95
111     Chips and Tomatillo Red Chili Salsa     $2.95
3     Chips and Tomatillo-Green Chili Salsa     $2.39
300     Chips and Tomatillo-Red Chili Salsa     $2.39
520                            Crispy Tacos     $7.40
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
1414                                  Salad     $7.40
6                             Side of Chips     $1.69
54                               Steak Bowl     $8.99
7                             Steak Burrito    $11.75
92                       Steak Crispy Tacos     $9.25
664                             Steak Salad     $8.99
281                        Steak Salad Bowl    $23.78
8                          Steak Soft Tacos     $9.25
62                              Veggie Bowl    $11.25
57                           Veggie Burrito    $11.25
1653                    Veggie Crispy Tacos     $8.49
1694                           Veggie Salad     $8.49
186                       Veggie Salad Bowl    $11.25
738                       Veggie Soft Tacos    $11.25

### Step 7. What was the quantity of the most expensive item ordered?

In [21]:
price = [float(x[1:-1]) for x in chipo['item_price']]
chipo['price'] = price

In [22]:
max_price = max(price)
max_price

44.25

In [23]:
chipo.loc[chipo['price']==max_price]

,order_id,quantity,item_name,choice_description,item_price,price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [25]:
len(chipo[chipo['item_name'] =='Veggie Salad Bowl']['order_id'])

18

### Step 9. How many times did someone order more than one Canned Soda?

In [36]:
len(chipo[(chipo['item_name']=='Canned Soda') & (chipo['quantity']>1)])

20